.container {
  max-width: 1200px;
  margin: auto;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1,
.box2 {
  margin: 50px 0;
  width: 100%;
  height: 100px;
  border: 1px solid black;
}
